.footer {
    background-color: #2F324B;
    max-width: 1600px;
    margin: 0 auto;
}

.footer__logo {
    margin-right: 19px;
}

.footer__container {
    display: flex;
    max-width: 1200px;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1113px;
    height: 68px;
}

.footer__item-text {
    width: 127px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #fff;
}

.footer__item-text-width {
    width: 171px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #fff;
}

.footer__navigation-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer__phone {
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

.footer__btn {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    text-decoration: underline;
}

@media all and (max-width: 1024px) {

    .footer__container {
        max-width: 964px;
    }

    .footer__list {
        max-width: 886px;
        height: 60px;
    }

    .footer__logo {
        width: 60px;
        height: 60px;
    }

    .footer__phone {
        font-size: 21px;
        line-height: 25px;
    }

    @media all and (max-width: 320px) {
        
        .footer__container {
            padding-left: 15px;
        }

        .footer__list {
            display: flex;
            flex-wrap: wrap;
            max-width: 241px;
        }
        
        .footer__logo {
            width: 30px;
            height: 30px;
        }

        .footer__item-text {
            font-size: 8px;
            width: 87px;
        }

        .footer__phone,
        .footer__btn {
            display: none;
        }

        .footer__item-text-width {
            margin: 0 auto;
        }

        .footer__item-pseudo:after {
            content: "";
            display: block;
            background-image: url(../img/phone.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: #555A7B;
        }
    }
}