
.present {
    background-image: url(/img/background.png);
    background-position: center;
    background-repeat: no-repeat;
}

.header__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-bottom: 85px;
    border: 1px solid red;

}

.header__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green
}

.navigation__phone {
    display: flex;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}

.navigation__btn {
    display: flex;
    font-size: 16px;
    line-height: 18.75px;
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .header__container {

    }
}


@media all and (max-width: 1024px) {
    .present {
        background-size: 100% 100%;
    }

    .header__container {
        max-width: 885px;
        flex-wrap: wrap;
        margin-bottom: 70px;
    }

    .header__logo {
        width: 60px;
        height: 60px;
    }

    .navigation__phone {
        font-size: 21px;
        line-height: 25px;
    }

    .navigation__btn {
        font-size: 13px;
        line-height: 16px;
    }
}


@media (max-width: 1000px) {
    .header__container {
        margin-bottom: 30px;
    }
}