.present-two__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.present-two__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41.02px;
    text-align: center;
}

.present-two__par {
    font-weight: 500;
    line-height: 25.78px;
    text-align: center;
}

.present-two__par:after {
    content: "";
    display: inline-block;
    /* color: #383A4C; */
    background-color: red;
    width: 43px;
    height: 2px;
    margin-left: 15px;
}

.present-two__par:before {
    content: "";
    display: inline-block;
    /* color: #383A4C; */
    background-color: red;
    width: 43px;
    height: 2px;
    margin-right: 15px;
}

.present-two__par_small {
    font-size: 18px;
    line-height: 25.31px;
    text-align: center;
}

.present-two__circle {
    display: flex;
    justify-content: space-around;
    counter-reset: list;
    width: 934px;
    border: 1px solid red; 
    text-align: center;
    height: 195px;

}

.present-two__circle-color {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23C7EC;
    width: 122px;
    height: 122px;
    border-radius: 50%
}

.present-two__circle-text {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    line-height: 28.13px;
    text-align: center;
    color: #383A4C;
    align-items: flex-end;

    border: 3px solid green;
}


.present-two__circle-one::before {
    display: block;
    counter-increment: list;
    content: counter(list, decimal-leding);
    position: absolute;
    font-weight: 500;
    font-size: 57px;
    line-height: 57px;
    color: #fff;
    text-align: center;
}

.present-two__circle-two:after {
    counter-increment: list;
    content: counter(list, decimal-leding);
    position: absolute;
    font-weight: 500;
    font-size: 57px;
    line-height: 57px;
    color: #fff;
}

.present-two__circle-three:after {
    counter-increment: list;
    content: counter(list, decimal-leding);
    position: absolute;
    font-weight: 500;
    font-size: 57px;
    line-height: 57px;
    color: #fff;
}

.present-two__circle-four:after {
    counter-increment: list;
    content: counter(list, decimal-leding);
    position: absolute;
    font-weight: 500;
    font-size: 57px;
    line-height: 57px;
    color: #fff;
}

.list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 934px;
}



.item {

    width: 122px;
    height: 122px;
    border-radius: 50%;
    background-color: #23C7EC;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28.13px;
    

}



.item::before {
    content: "1";
    display: block;
    width: 122px;
    height: 122px;
    font-weight: 500;
    font-size: 57px;
    line-height: 57px;

}

