.present__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 14px;
    max-width: 990px;
    min-height: 384px;
    gap: 35px;
}

.present__title {
    text-align: center;
    font-weight: 900;
    font-size: 52px;
    line-height: 60.94px;
    color: #FFFFFFDB;
    margin: 0;
}

.present__par {
    text-align: center;
    line-height: 30.94px;
    color: #FFFFFFBF;
    margin-bottom: 90px;
}

.present__btn {
    width: 200px;
    padding: 12px 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23.44px;
    text-align: center;
    border-radius: 50px;
    color: #fff;
    background-color: #15A9CB;
    box-shadow: 0px 4px 25px 0px #15A9CB4D 30%;
}

@media all and (max-width: 1024px) {
    .present__container {
        gap: 0;
    }

    .present__title {
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 27.57px;
    }

    .present__par {
        font-weight: 400;
        font-size: 18px;
        line-height: 25.31px;
        margin-bottom: 60.43px;
    }
}